export const CLIENT_ID = "YOUR_SPOTIFY_APPLICATION_CLIENT_ID";
export const ENCRYPTION_SECRET = "REFRESH_TOKEN_ENCRYPTION_KEY - PLEASE GENERATE";
export const CLIENT_SECRET = "YOUR_SPOTIFY_APPLICATION_CLIENT_SECRET";
